*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #111;
    font-family: Roboto, Verdana, Arial;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to top, rgba(0,0,0,0),rgba(0, 0, 0, 0.654) 50%, black);
}

.navbar ul{
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    margin-top: 10px;
}

.navbar li{
    list-style: none;
    padding: 1rem;
}

.navbar li a{
    padding: 2px 2px;
    text-decoration: none;
    color: #fff;
}

.navbar li a:hover{
    color: gray;
}

.logo{
    height: 45px;
    width: 90px;
    margin-left: 10px;
}
.logo img{
    width: 100%;
}

.right_bar{
    position: fixed;
    right: 0;
    cursor: pointer;
}

.search:hover, .avatar:hover{
    opacity: 0.6;
}

.search{
    margin-right: 10px;
    width: 25px;
    height: 25px;
    z-index: 100;
    margin-top: 10px;
    
}
.avatar{
    margin-right: 20px;
    width: 25px;
    height: 25px;
    z-index: 100;
    margin-top: 10px;  
}
/* banner */

.banner{
    background-image:url("main-img/banner.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    height: 448px;
}

.banner_contents{
    margin-left: 30px;
    padding-top: 190px;
    height: 190px;
}

.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_btn{
    margin-top: 5px;
    margin-bottom: 10px;
    
}

.banner_btn button{
    position: relative;
}

.play_bnt::after{
    content: '';
    position: absolute;
    top: 50%;
    left:13px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-radius: 2px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 11px solid black;
}





.play_bnt{
    width: 60px;
    height: 25px;
    color: black;
    border-radius: 2px;
    border:1px solid transparent;
    text-align:right;
    padding: 0 8px 0 0;
}

.play_bnt:hover{
    opacity: 0.6;
}

.info_bnt{
    width: 80px;
    height:25px;
    color: white;
    font-size: 12px;
    background-color: gray;
    border-radius: 2px;
    border:1px solid transparent;
    text-align:right;
    opacity: 0.8;
    padding:0px 6px 0px 0 ;
    }

    .info_bnt svg {
        display: inline-block;
    vertical-align: middle;
    }

.info_bnt:hover{
    opacity: 0.6;
}

.banner_btn button:hover{
    cursor:pointer;
}

.banner_description{
    line-height: 1.5;
    padding-top: 0.5rem;
    font-size: 1rem;
}

/* row */
.row{
    color: white;
}

.row h2{
    color: white;
    margin-left: 25px;
    margin-top: 20px;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    
}

.row_poster{
    
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}
.row_posterLarge{
    max-height: 250px;
}

.row_posterSmall{
    max-height: 150px;
}

.row_poster:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.row_posters::-webkit-scrollbar{
    transform: none;
}

#footer{
    color: #ffffff9e;
    font-size: 15px;
    text-align: center;
}